{% assign current = page.url | downcase | split: '/' %}
<div class="menu__btn">
    <span class="fas fa-ellipsis-v"></span>
</div>
<nav class="menu" role="navigation">
    <div class="menu__branding">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <picture>
                <source media="(min-width: 768px)"
                        srcset="{{ site.baseurl }}/img/portrait2.webp 200w">
                <source srcset="{{ site.baseurl }}/img/portrait2-mobile.webp 100w">
                <img class="portrait js-lazy-image" src="{{ site.baseurl }}/img/portrait2-mobile.webp">
            </picture>
            {{ site.title }}
        </a>
    </div>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <ul class="menu__nav">
        <li class="nav__item {% if page.url == '/' %}current{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav__item {% if current[1] == 'articles' %}current{% endif %}"><a href="{{ site.baseurl }}/articles">Articles</a></li>
        <li class="nav__item {% if current[1] == 'portfolio' %}current{% endif %}"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
    </ul>
</nav>