{% assign current = page.url | downcase | split: '/' %}
<div class="menu__btn">
    <span class="fas fa-ellipsis-v"></span>
</div>
<nav class="menu" role="navigation">
    <div class="menu__branding">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <div class="portrait"></div>
            {{ site.title }}
        </a>
    </div>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <ul class="menu__nav">
        <li class="nav__item {% if page.url == '/' %}current{% endif %}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav__item {% if current[1] == 'articles' %}current{% endif %}"><a href="{{ site.baseurl }}/articles">Articles</a></li>
        <li class="nav__item {% if current[1] == 'portfolio' %}current{% endif %}"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
    </ul>
</nav>