
<section>
    <div class="container">
        <article class="article">
            <h1 class="article__title">{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="article__subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <div class="article__meta">Written: {{ page.date | date: "%b %-d, %Y" }} in 
                <a href="{{ site.baseurl }}/articles/categories/#{{ page.category }}">{{ page.category | capitalize }}</a>
                {% for tag in page.tags %}
                ;
                <a class="tag" href="{{ site.baseurl }}/articles/tags/#{{ tag }}">{{ tag | capitalize}}</a>
                {% endfor %}
                {% if page.comments %} 
                • <a href="{{ page.url | prepend: site.baseurl }}#disqus_thread">Join the Discussion</a>
                {% endif %}
            </div>
            <hr>
            <br>
            {{ content }}
        </article>
        {% include disqus.html %}
    </div>
</section>
