.services {
    margin-top: 1rem;
    display: grid;
    grid-gap: 1.6rem;
    grid-template-columns: 1fr;
    & .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px $secondary-color;
        background: lighten($primary-color, 10);
        color: set-text-color(lighten($primary-color, 10));
        padding-bottom: 1.6rem;
        & .badge {
            width: 40px;
            margin-top: -20px;
            margin-bottom: 1rem;
        }
    }
}


@include media-MD {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-LG {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }
}