.badge {
    background: $secondary-color;
    color: set-text-color($secondary-color);
    min-width: 40px;
    width: auto;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}