h5 {
    background: none repeat scroll 0% 0% lighten($primary-color, 10);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
}

.btn-copy-code {
    padding-right: 1rem;
    float: right;
    background: lighten($primary-color, 10);
    border: 0;
    font-size: 12px;
    margin-top: -30px;
    &:hover {
        cursor: pointer;
        color: $primary-color;
    }
}

figure, div {
    &.highlight {
        margin: 0 0 1rem 0;
        padding: .5rem;
        & pre {
            margin: 0;
        }
    }
}

.highlighter-rouge {
    background-color: darken($primary-color, 10);
    color: set-text-color(darken($primary-color, 10));
    padding: .2rem;
}