body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-display: swap;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    &#home {
        @include background;
    }
}

a {
    color: set-text-color($primary-color);
}

h1, h2, h3, h4, h5, h6 {
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-display: swap;
        margin-bottom: 2rem;
        padding: .2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}